@mixin testimonial {
    border-radius: 5%;
    background: linear-gradient(to bottom, $background-text 70%, $footer-color 70% 100%);
    padding: 2%;
    width: 21%;
    height: auto;
    line-height: 160%;
    letter-spacing:20%;
    img {
        border-radius: 50%;
        border: 5px solid $background-text;
        width: 40%;
        height: auto;
        margin-left: 30%;
    }
    .header {
        background-color: $background-text;
        color: $header-color;
        opacity: 0.9;
        font-size: 110%;
        margin-top: -4%;
    }
    .footer {
        color: $background-text;
        background-color: $footer-color;
        text-align:center;    
    }      
    .footer2 {
        background-color: $footer-color;
        color: $background-color;
        font-size: 80%;
    }
}

@mixin wrapper {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: auto;
        border-radius: 3%;
        &:hover {
            opacity: 0;
            transition:5s;        
        }
    }
    button {
        display: none;
    }

    button:hover {
        display:inline-block;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2%;
        position: absolute;
}
    
}