@import "colors";
@import "fonts";
@import "mixins";

body {
    box-sizing: border-box;
    font-family: $font-stack;
    background-color: $background-color;
    letter-spacing: $letter-spacing;
    margin-bottom: 5%;
    margin-top: 2%;
}
    .testimonial {
        @include testimonial;
    }
    .wrapper {
        @include wrapper;
    }
    