@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcg72j00.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Ubuntu, Helvetica, sans-serif;
  background-color: #c3cfe2;
  margin-bottom: 5%;
  margin-top: 2%;
}

.testimonial {
  border-radius: 5%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #fff), color-stop(70%, #686de0));
  background: linear-gradient(to bottom, #fff 70%, #686de0 70% 100%);
  padding: 2%;
  width: 18%;
  height: auto;
  line-height: 160%;
}

.testimonial img {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 40%;
  height: auto;
  margin-left: 30%;
}

.testimonial .header {
  background-color: #fff;
  color: #4e4d4d;
  font-size: 90%;
  margin-top: -4%;
  letter-spacing: normal;
}

.testimonial .footer {
  color: #fff;
  background-color: #686de0;
  text-align: center;
}

.testimonial .footer2 {
  background-color: #686de0;
  color: #c3cfe2;
  font-size: 80%;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2%;
  width: 100%;
}

@media only screen and (min-width: 360px) {
  .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
  }
}

.wrapper .container {
  position: relative;
  width: 100%;
}

.wrapper .container:hover .overlay {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.wrapper .image {
  width: 100%;
  height: auto;
  border-radius: 3%;
}

.wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #201f1f;
  border-radius: 3%;
}

.wrapper .button {
  color: black;
  font-size: 90%;
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
}

.social {
  position: fixed;
  width: 50px;
  top: 50%;
  right: 0%;
}

.social a {
  display: block;
  padding: 20px;
  color: #fff;
  font-size: 16px;
}

.social .social-item {
  margin-left: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.social .fa {
  text-decoration: none;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.social .fa:hover {
  width: 128px;
  margin-left: -115px;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.social .fa-facebook {
  background: #3B5998;
  width: 180px;
  height: auto;
}

.social .fa-twitter {
  background: #55ACEE;
  width: 180px;
  height: auto;
}

.social .fa-google {
  background: #dd4b39;
  width: 180px;
  height: auto;
}

.social .fa-linkedin {
  background: #007bb5;
  width: 180px;
  height: auto;
}

.social .fa-github {
  background-color: #333;
  width: 180px;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */